/* Général */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    font-family: 'Spartan', sans-serif;
}

.cache {
    display: none;
}

.non-visible {
    visibility: hidden;
}

strong {
    font-weight: 600;
}

/* Header */

header {
    grid-area: 1 / 1 / 2 / 5;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_rempart {
    width: 200px;
}

header p {
    align-self: flex-end;
    margin-bottom: 15px;
    margin-right: 10px;
}

nav {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    text-decoration: underline;
}

/* Main */

main {
    grid-area: 2 / 1 / 3 / 5;
}

.slogan {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 4vh 10vw 3vh;
    text-align: center;
}

#presentation div:last-child {
    margin:auto;
    width:80%;
    padding: 1vh 0 4vh 0;

} 

#presentation img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

#presentation figure {
    background-image: linear-gradient(to top, #f3f5f5 0%, rgb(80, 78, 78) 100%);
    box-shadow: 0 0 0.2rem 0.2rem rgba(184, 184, 184, 0.295);
    border-radius: 3px;
}

#presentation figcaption {
    padding: 0.2rem 0.5rem;
}

section {
    background-image: linear-gradient(to top, #e6e9f0 0%, #fff 100%);
}

section main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div {
    margin: 10px;
}

section > header > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

h3 {
    padding: 10px 0;
    font-size: 1.15rem;
    font-weight: 600;
}

div ul li {
    list-style-type: none;
}

div ul li::before {
    content: '\2727\00a0';
}

div ul li, main p, address {
    line-height: 130%;
}

#services {
    background: linear-gradient(to right, rgba(177, 133, 219, 0.7) 0%, #b185db 50%, rgba(177, 133, 219, 0.7) 100%);
}

#admission {
    background: linear-gradient(to right, rgba(104, 216, 214, 0.7) 0%, #68d8d6 50%, rgb(104, 216, 214, 0.7) 100%);
}

#contact {
    background: linear-gradient(to right, rgb(110, 228, 81, 0.7) 0%, #6ee451 50%, rgb(110, 228, 81, 0.7) 100%);
}

#a_propos {
    background: linear-gradient(to right, rgb(255, 151, 112, 0.7) 0%, #ff9770 50%, rgb(255, 151, 112, 0.7) 100%);
}

address {
    font-style: normal;
}

.courriel {
    color: #fff;
}

.map {
    margin: 10px 25px;
    width: calc(100% - 50px);
}

iframe {
    height: 300px;
    width: 100%;
}

/* Footer de page et de sections */

section > footer {
    text-align: right;
    padding: 0 25px 15px;
}

section > footer > a {
    font-size: 1.1rem;
    text-decoration: none;
    color:black;
    
}

section > footer > a:hover, section > footer > a:focus {
    font-size: 1.1rem;
    text-decoration: underline;
}

section > footer > a::after {
    content: ' \25B2';
}

 body > footer {
    background-color: #000;
    color: #fff;
    display: flex;
    grid-area: 3 / 1 / 4 / 5;
    padding: 10px;
}

body > footer div {
    width: 50%;
}

body > footer > div {
    padding-right: 20px;
}

body > footer address {
    font-size: 0.9rem;
}

.info_importante {
    font-size: 0.8rem;
    padding-top: 10px;
}

.info_importante::before, .info_importante::after {
    content: "\2605";
}

.partenaires {
    border-left: 1px solid #fff;
    padding-left: 20px;
}

.logo_caisse {
    margin-top: 10px;
    width: 170px;
}

@media screen and (min-width: 1024px) {
    
    html {
        font-size: 18px;
    }

    .logo_rempart {
        width: 270px;
    }

    header p {
        margin-bottom: 25px;
        margin-right: 20px;
    }

    nav {
        height: 60px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    section div {
        margin: 15px 25px;
        width: 45%;
    }

    #presentation div:last-child, .slogan {
        margin: 25px 25px;
        padding: 0;
    }

    #presentation div:last-child {
        width: 20%;
    }

    #presentation img {
        width: 100%;
    }

    h2 {
        height: 50px;
    }

    h3 {
        padding: 15px 0;
    }

    .map {
         width: 45%;
         margin: 25px;
    }

    iframe {
        height: 400px;
        width: 100%;
    }
}